@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a{
  color: #585858;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: rgb(44, 41, 35);
  background: radial-gradient(circle, rgba(44, 41, 35, 1) 0%, rgba(42, 42, 41, 1) 50%, rgba(23, 33, 34, 1) 85%, rgba(5, 20, 24, 1) 100%);
}
/* Classe usada para não permitir seleção de texto */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.container {
  max-width: 550px;
  width: 100%;
  margin: 200px auto auto auto;
  position: relative;
}
.containercadastro {
  max-width: 660px;
  width: 100%;
  margin: 150px auto;
  position: relative;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="password"],
#contact textarea,
#contact select,
#contact button[type="submit"] {
  font: 400 16px 'Montserrat', sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 55px;
  margin: 30px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  color: #78ED6F;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="password"],
#contact select,
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 12px;
  padding: 14px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact input[type="password"]:hover,
#contact select:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #78ED6F;
  color: #FFF;
  margin: 0 0 5px;
  padding: 16px;
  font-size: 22px;
}

#contact button[type="submit"]:hover {
  background: black;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact select:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

webkit-input-placeholder {
  color: #888;
}

moz-placeholder {
  color: #888;
}

moz-placeholder {
  color: #888;
}

ms-input-placeholder {
  color: #888;
}

/* --------------------- Modal --------------------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  line-height: 1.5;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* area do texto */

.texto1{
  border: 1px solid;
  padding: 20px; 
  width: 100%;
  height: 400px;
  resize: none;
  margin-top: 30px;
  overflow: auto;
}

/* Checkbox */

h1{
  font-size: 11pt;
}

.exemplo1 input[type=radio], .exemplo1 input[type=checkbox]{
    display:none; /* Esconde os inputs */
}
 
.exemplo1 input[type=radio] + label, .exemplo1 input[type=checkbox] + label{
    display:inline-block;
    height:20px;
    padding:0px 0px 0px 25px;
    margin:10px 10px 10px 10px;
    background-image:url(http://www.webcis.com.br/images/imagens-noticias/checkbox/ico-master.webp);
    background-repeat:no-repeat;
    background-position:0 0;
}
 
.exemplo1 input[type=checkbox] + label{
    background-position:0 -60px; /* Muda a posição do background só no checkbox */
}
 
.exemplo1 input[type=radio]:checked + label{
    background-position:0 -40px;
}
 
.exemplo1 input[type=checkbox]:checked + label {
    background-position:0 -90px;
}